* { 
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image:url("blue.jpg"); 
  background-size: cover;
  background-color: aliceblue;    
  position: absolute;
  z-index: -1;
  width:100%;
  height:100%;
}

.header {
  position:absolute;
  top:17%;
  left:30px;
  width:400px;
  height:500px;
  color:white;
  font-weight: 600;
  font-size: 20px;
}

.strt {
  color:white;
  font-size: 40px;
  font-weight: 700;
}

.sign {
  position:absolute;
  top:120%;
  margin-left: -30px;
  color:white;
  font-weight: 600;
  font-size: 23px;
  width:500px;
  height:400px;
     
} 

.sign_up {
  width:200px;
  height:40px;
  border:none;
  border-radius: 3px;
  border: none;
  color:white;
  font-size: 20px;
  font-weight: 500;
  background-image: linear-gradient(to right,#212144,rgb(236, 161, 236),purple);
}

.container {
  text-align: center;
  position: absolute;
  box-sizing: border-box;
  border-radius:4px;
  opacity: 9px;
  padding-top: 20px;
  margin-left: 2%;
  margin-top: -48px;
  height: 190%;
  width: 80%;
  left: 100px;
  top:60px;
  display: wrap;
  display:flex;
  overflow: hidden;
}

.card1 { 
  background-image: url("3d-triangle.jpg");
  background-size:contain;
  height: 103%;
  width: 50%;
  border:5px solid #7400B8;
  opacity: 0.8;
  border-radius: 5px;
  margin-top:-27px;
  margin-left: -6px;
  overflow: hidden;  
}

h1 {
  font-size: 33px; 
  color:rgb(3, 145, 234);
  text-shadow:2px 2px 4px cyan;
}

h3 {
  color:rgb(3, 145, 234) ;
}

.card2 {
  margin-top:-27px; 
  height: 103%;
  width:70%;
  border:none;
  opacity: 0.9;
  background-color:white; 
}

label {
  padding-right: 40px;
  font-size: 19px;
  font-weight: 500;
  color:rgb(99, 9, 99);
  width:200px;
  height:30px;
  text-align: right;
  display: inline-block;
}

.inpbox{
  color: grey;
  border:none;
  border-radius: 4px;
  box-shadow: 0px 0px 3px mediumorchid/* #5E60CE*/ ;
  width:270px; 
  height: 27px;
  font-size: 16px;
}

.radiobox {
  width:20px;
  height:20px;
  border-radius:50%;
  display: inline-block;
  background-color: #7400B8; 
}

.rd {
  width:500px;
  height:60px;
  margin-left: 6%;
}

.ast { 
  color:red; 
}

.inpbox:hover {
  width:300px;
  height:30px;
  border: 3px solid #48BFE3 ;
  border-radius:4px;
  box-shadow: 4px 4px 5px #5E60CE;
}

.inpbox:focus {
  outline:none;
  border:3px solid #48BFE3 ;
}

#register {
  width:240px;
  height:50px;
  border:none;
  border-radius: 3px;
  border: none;
  color:lightgoldenrodyellow;
  font-size: 23px;
  font-weight: 500;
  background-image: linear-gradient( to left,magenta,#5E60CE,#48BFE3,cyan);
}


.check {
  display: block;
  position: relative;
  padding-left: 65px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color:rgb(3, 145, 234);
}
  
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;    
}
  
.checkmark {
  position: absolute;
  top: 0;
  left: 17%;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 2px solid blueviolet;
}
  
.check input:checked ~ .checkmark {
  background-color:blueviolet;
}
  
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
  
.check input:checked ~ .checkmark:after {
  display: block;
}
  
.check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
